html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(43, 109, 231)
}

.display{
    height: 80px;
    width: 275px;
    background-color: white;
    border: 2px solid rgb(43, 109, 231);
    font-size: 60px;
    margin-bottom: 15px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}

button{
    font-size: 25px;
    color:rgb(43, 109, 231);
    background-color:aliceblue;
    border: 1px solid rgb(43, 109, 231);
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
}

.zero{
    width: 130px;
}

button:hover{
    background-color:rgb(223, 239, 253);
}